<div class="product">
    <a href="/products">Voltar</a>
    <h3>{{product.name}}</h3>
    <p>R${{product.price}}</p>
    <img src="{{product.image}}" alt="{{product.name}}">
    <p>{{product.description}}</p>
    <form action="/products/remove/{{product._id}}" method="post">
        <input type="submit" value="Excluir" class="btn">
    </form>
</div>